.ion-align-content-center {
    align-self: center;
}
ion-toggle {
    --background: #e64141;
    --background-checked: #49a55d;
  
    --handle-background: #ccd2f3;
    --handle-background-checked: #ccd2f3;
}
ion-list{
    background: #fff0bf;
}
